body, html {
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow-x: hidden;
}

body{
	font-family: sans-serif;
	padding: 50px;
    background: linear-gradient(45deg, rgba(58,198,36,1) 36%, rgba(255,55,0,0.8407738095238095) 88%);
    line-height: 1.4;
}

img {
	width: 100%;
	height: 550px;
}

#slider{
	width: 1000px;
	height: 550px;
	margin: 20px auto;
	position: relative;
	border: 10px solid darkgrey;
	box-shadow: 0px 0px 5px 2px #ccc;
}

button{
	padding: 20px;
	border: none;
	background: rgba(255,55,0,0.8407738095238095);
	font-size: 30px;
	color: white;
	position: absolute;
	top: 45%;
	cursor: pointer;

}

.next{
	border-radius: 10px 0px 0px 10px;
	margin-left: 943px;
}

.previous{
	border-radius: 0px 10px 10px 0px;
}

#map {
	width: 550px;
 	height: 550px;
 	position: relative;
 	border: solid 9px darkgrey;
 	float: left;
 	
}

#information {
	width: 550px;
 	height: 550px;
 	position: relative;
 	border: solid 9px darkgrey;
 	float: left;
 	margin-left: 80px;
 	background-color: rgb(255, 255, 255);

}

#container_map {
	height: 550px;
 	width: 1300px;
}

#information h1{
	text-align: center;
	color: rgb(99, 240, 95);
}

ul li{
	text-align: center;
	list-style: none;
	margin: 40px 0;
	font-size: 1.4em;
	font-weight: bold;
	color: rgb(99, 240, 95);

}

ul{
	margin-top: 80px;
}
